/* Tickets */
.projected-order-totals h4 {
  display: inline-block;
  font-size: 14.5px;
  margin-right: 60px;
}
.projected-order-totals .label-sub-label {
  display: inline-block;
  margin: 0 15px;
}
