<ul class="equity-ticket-primary" ng-controller="view.tickets.equity.CollapsedController">
    <li class="horizontal-list-item">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
            <i class="icon-chevron-down"></i>
        </a>
    </li>

    <li class="horizontal-list-item">
        <div id="accountInfo">
            <p>{{ticket.accountInfo.name}}</p>
            <p>{{ticket.accountInfo.accountType}}</p>
            <p>{{ticket.accountInfo.number}}</p>
        </div>
    </li>

    <li class="horizontal-list-item">
        <editable-dropdown
                class="fa-number"
                items="financialAdvisorNumbers"
                data-selected-item="ticket.faNumber">
        </editable-dropdown>
    </li>

    <li class="horizontal-list-item">
        <search-input data-search-term="ticket.symbol"></search-input>
    </li>

    <li class="horizontal-list-item">
        <button-group items="buyValues" data-selected-item="ticket.side"></button-group>
    </li>
    <li class="horizontal-list-item">
        <editable-dropdown class="shares" items="shareValues" data-selected-item="ticket.selectedShareValue"></editable-dropdown>
    </li>
    <li class="horizontal-list-item">
        <input-and-selection items="stopLimitValues" text="stopLimitText"></input-and-selection>
    </li>
    <li class="horizontal-list-item">
        <button-group items="cashMarginValues"></button-group>
    </li>
    <li class="horizontal-list-item">
        <editable-dropdown class="first-last" items="firstLastValues" data-selected-item="ticket.selectedFirstLast"></editable-dropdown>
    </li>
    <li class="horizontal-list-item">
        <button-group items="solicitedValues"></button-group>
    </li>
    <li class="horizontal-list-item">
        <input-and-selection items="discountValues" text="discountText"></input-and-selection>
    </li>
</ul>