<ul class="equity-ticket-primary" ng-controller="view.tickets.equity.CollapsedController">
    <li class="horizontal-list-item">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
            <i class="icon-chevron-down"></i>
        </a>
    </li>

    <li class="horizontal-list-item">
        <div id="accountInfo">
            <p>{{accountInfo.name}}</p>
            <p>{{accountInfo.accountType}}</p>
            <p>{{accountInfo.number}}</p>
        </div>
    </li>

    <li class="horizontal-list-item">
        <editable-dropdown class="fa-number" items="financialAdvisorNumbers" data-selected-item="ticket.faNumber"></editable-dropdown>
    </li>
    <li class="horizontal-list-item">
        <button ng-click="testSelected()">Test</button>
    </li>

    <li class="horizontal-list-item">
        <search-input></search-input>
    </li>

    <li class="horizontal-list-item">
        <button-group items="buyValues"></button-group>
    </li>
    <li class="horizontal-list-item">
        <editable-dropdown class="shares" items="shareValues" data-selected-item="ticket.selectedShareValue"></editable-dropdown>
    </li>
    <li class="horizontal-list-item">
        <input-and-selection items="stopLimitValues" text="stopLimitText"></input-and-selection>
    </li>
    <li class="horizontal-list-item">
        <button-group items="cashMarginValues"></button-group>
    </li>
    <li class="horizontal-list-item">
        <editable-dropdown class="first-last" items="firstLastValues" data-selected-item="ticket.selectedFirstLast"></editable-dropdown>
    </li>
    <li class="horizontal-list-item">
        <button-group items="solicitedValues"></button-group>
    </li>
    <li class="horizontal-list-item">
        <input-and-selection items="discountValues" text="discountText"></input-and-selection>
    </li>
</ul>