<ul class="equity-ticket-primary" ng-controller="view.tickets.equity.CollapsedController">
    <li class="horizontal-list-item">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
            <i class="icon-chevron-down"></i>
        </a>
    </li>

    <li class="horizontal-list-item">
        <div id="accountInfo">
            <p>{{ticket.accountInfo.name}}</p>
            <p>{{ticket.accountInfo.accountType}}</p>
            <p>{{ticket.accountInfo.number}}</p>
        </div>
    </li>

    <li class="horizontal-list-item">
        <editable-dropdown
                id="faNumber"
                name="faNumber"
                class="fa-number"
                items="financialAdvisorNumbers"
                data-selected-item="ticket.faNumber"
                data-input-id-value="faNumberInput">
        </editable-dropdown>
    </li>

    <li class="horizontal-list-item">
        <search-input
                data-search-term="ticket.symbol"
                data-input-id-value="symbolInput"
                >
        </search-input>
    </li>

    <li class="horizontal-list-item">
        <button-group
                items="buyValues"
                data-selected-item="ticket.side"
                id="sideButtons">
        </button-group>
    </li>
    <li class="horizontal-list-item">
        <editable-dropdown
                class="shares"
                items="shareValues"
                data-selected-item="ticket.selectedShareValue"
                data-input-id-value="sharesInput"
                data-dropdown-id-value="sharesMenuItems">
        </editable-dropdown>
    </li>
    <li class="horizontal-list-item">
        <input-and-selection
                items="stopLimitValues"
                data-text="ticket.stopLimitAmount"
                data-selected-item="ticket.stopLimit"
                >
        </input-and-selection>
    </li>
    <li class="horizontal-list-item">
        <button-group
                items="cashMarginValues"
                data-selected-item="ticket.cashMargin">
        </button-group>
    </li>
    <li class="horizontal-list-item">
        <editable-dropdown
                class="first-last"
                items="firstLastValues"
                data-selected-item="ticket.selectedFirstLast">
        </editable-dropdown>
    </li>
    <li class="horizontal-list-item">
        <button-group
                items="solicitedValues"
                data-selected-item="ticket.solicited">
        </button-group>
    </li>
    <li class="horizontal-list-item">
        <input-and-selection
                items="discountValues"
                data-text="ticket.discountAmount"
                data-selected-item="ticket.discountText">

        </input-and-selection>
    </li>
</ul>