<div class="detail" ng-controller="view.tickets.equity.DetailController">
    <div class="expanded">
        <div class="controls">
            <div class="field">
                <label>Time In Force</label>
                <editable-dropdown items="timeInForceValues" additional-control-classes="span1" data-selected-item="ticket.selectedTimeInForce"></editable-dropdown>
            </div>
            <div class="field">
                <label>Discretion Enclosed</label>
                <button-group items="yesNoValues"></button-group>
            </div>
            <div class="field">
                <label>Order Received By</label>
                <search-input></search-input>
            </div>
            <div class="field">
                <label>Time Received</label>
                <button-group items="timeReceivedValues"></button-group>
            </div>
            <div class="field">
                <label>Date</label>
                <date-picker date="dateValue"></date-picker>
            </div>
            <div class="field">
                <label>Time</label>
                <date-time-input date="dateValue" format="%I:%M:%S %p"></date-time-input>
            </div>
            <div class="field">
                <label>Hold</label>
                <button-group items="yesNoValues"></button-group>
            </div>
            <div class="field">
                <label>&nbsp;</label>
                <button-dropdown items="strategyValues"></button-dropdown>
            </div>
            <div class="field">
                <label>&nbsp;</label>

                <div class="input">
                    <input class="span4" type="text" placeholder="Send To Trader/Trader Instructions">
                </div>
            </div>
            <div class="field">
                <label>&nbsp;</label>

                <div class="input">
                    <input class="span4" type="text" placeholder="Misc. Trailer">
                </div>
            </div>
            <div class="field">
                <label>Trade Date</label>
                <label>{{ tradeDate | toDateFormat:'%m/%d/%Y' }}</label>
            </div>
            <div class="field">
                <label>Settle Date</label>
                <label>{{ settleDate | toDateFormat:'%I:%M:%S %p' }}</label>
            </div>
            <div class="field">
                <label>Client Position</label>
                <editable-dropdown items="clientPositionValues" data-selected-item="ticket.selectedClientPosition"></editable-dropdown>
            </div>
            <div class="field">
                <label>&nbsp;</label>
                <editable-dropdown items="secondaryClientPositionValues" data-selected-item="ticket.secondarySelectedClientPosition"></editable-dropdown>
            </div>
            <div class="field">
                <label>&nbsp;</label>
                <div class="input">
                    <input class="span4" type="text" placeholder="Confirm Trailer">
                </div>
            </div>
            <div class="field">
                <label>Disposition</label>
                <dropdown-with-notes
                        data-label-field="name"
                        data-note-field="note"
                        data-items="dispositionValues"
                        data-selected-item="ticket.selectedDisposition">
                </dropdown-with-notes>
            </div>
            <div class="final-checks">
                <div class="field check-field">
                    <input type="checkbox">
                    <label>Show Preferential rate on client confirm</label>
                </div>
                <div class="field check-field">
                    <input type="checkbox">
                    <label>Avg Price Opt out</label>
                </div>
                <div class="field check-field">
                    <input type="checkbox">
                    <label>Act As Agent</label>
                </div>
                <div class="field check-field">
                    <input type="checkbox">
                    <label>Do Not Reduce</label>
                </div>
            </div>
            <div class="clearfix">&nbsp;</div>
        </div>
        <div class="projected-order-totals">
            <h4>Projected Order Totals</h4>
            <label-sub-label label="Principal" sub-label="$8,689.38"></label-sub-label>
            <label-sub-label label="Commission" sub-label="-$100"></label-sub-label>
            <label-sub-label label="Fees" sub-label="-$20"></label-sub-label>
            <label-sub-label label="Net" sub-label="$8,569.38"></label-sub-label>
        </div>
    </div>
</div>