
<div class="equity-ticket equity-ticket-review" ng-controller="view.tickets.equity.EquityReviewTicketController">

    <div class="well row" id="reviewTicket{{$index}}" ng-repeat="ticket in tickets">
        <ul class="well">
            <h4>Account Information</h4>
            <li>Account Name: {{ticket.accountInfo.name}}</li>
            <li>Account Type: {{ticket.accountInfo.accountType}}</li>
            <li>Account Number: {{ticket.accountInfo.number}}</li>
        </ul>
        <ul id="primaryValues" class="well">
            <h4>Equity Ticket Information</h4>
            <li id="faNumber">FA Number: {{ticket.faNumber}}</li>
            <li id="symbol">Symbol: {{ticket.symbol}}</li>
            <li id="side">Side: {{ticket.side}}</li>
            <li id="shareValue">Share Value: {{ticket.selectedShareValue}}</li>
            <li id="stopLimit">Stop / Limit: {{ticket.stopLimit}}</li>
            <li id="stopLimitAmount">Stop / Limit Amount: {{ticket.stopLimitAmount}}</li>
            <li id="cashMargin">Cash/ Margin: {{ticket.cashMargin}}</li>
            <li id="vspMethod">VSP Method: {{ticket.selectedFirstLast}}</li>
            <li id="solicitedUnsolicited">Solicited/Unsolicited: {{ticket.solicited}}</li>
            <li id="discountText">Discount Text: {{ticket.discountText}}</li>
            <li id="discountAmount">Discount Amount: {{ticket.discountAmount}}</li>
        </ul>
    </div>

</div>