<div class="sambuca-ptl" ng-controller="view.sambuca.SambucaController">
    <h3>Components For Sambuca Review</h3>

    <div class="components">
        <div class="row">
            <h4>Button Dropdown</h4>
            <button-dropdown label-field="label" items="buttonDropdownItems"
                             selected-item="buttonDropdownSelectedItem"></button-dropdown>
        </div>
        <div class="row">
            <h4>Button Group</h4>
            <button-group items="buttonGroupItems"></button-group>
        </div>
        <div class="row">
            <h4>Date Picker</h4>
            <div>
                <label>Default</label>
                <date-picker data-date="today"></date-picker>
            </div>
            <div>
                <label>Pleasant</label>
                <date-picker data-date="today" format="%b %d, %Y"></date-picker>
            </div>
            <div>
                <label>Time</label>
                <date-picker data-date="today" format="%I:%M:%S %p"></date-picker>
            </div>
            <div>
                <label>Military Time</label>
                <date-picker data-date="today" format="%H:%M:%S"></date-picker>
            </div>
        </div>
        <div class="row">
            <h4>Date / Time Input</h4>
            <div>
                <label>Default</label>
                <date-time-input data-date="today"></date-time-input>
            </div>
            <div>
                <label>Pleasant</label>
                <date-time-input data-date="today" format="%b %d, %Y"></date-time-input>
            </div>
            <div>
                <label>Time</label>
                <date-time-input data-date="today" format="%I:%M:%S %p"></date-time-input>
            </div>
            <div>
                <label>Military Time</label>
                <date-time-input data-date="today" format="%H:%M:%S"></date-time-input>
            </div>
        </div>
    </div>
</div>