<div class="dropdown-with-notes">
    <div class="input-prepend">
        <div class="button-dropdown btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown"> <span class="selected-item-label">{{ getItemLabel(selectedItem) }}</span> <span
                    class="caret"></span></a>
            <ul class="dropdown-menu">
                <li ng-repeat="item in items" ng-click="onClickItem(item)"><a>{{ getItemLabel(item) }}</a></li>
            </ul>
        </div>
    </div>
    <div class="input-prepend"><input id="{{inputIdValue}}" class="span2" type="text" ng-model="note"></div>
</div>