<div class="editable-dropdown input-append">
    <input id="{{inputIdValue}}" type="text" ng-model="selectedItem" ng-class="additionalControlClasses">

    <div class="btn-group">
        <button class="btn dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" id="{{dropdownIdValue}}">
            <li ng-repeat="item in items">
                <a ng-click="onClickItem(item)">{{ item }}</a>
            </li>
        </ul>
    </div>
</div>