<div class="input-and-selection input-append">
    <input class="span3" id="type" type="text" ng-model="text" placeholder="{{ placeholder }}">

    <div class="btn-group">
        <button class="btn dropdown-toggle" data-toggle="dropdown">
            {{ getItemLabel(selectedItem) }}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li ng-repeat="item in items">
                <a ng-click="onClickItem(item)">{{ getItemLabel(item) }}<a/>
            </li>
        </ul>
    </div>
</div>