<ul class="equity-ticket-primary" ng-controller="view.tickets.equity.CollapsedController">
    <li style="display: block; float: left;">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
            <i class="icon-chevron-down"></i>
        </a>
    </li>
    <li class="horizontal-list-item">
        <div id="accountInfo">
            <p>{{accountInfo.name}}</p>
            <p>{{accountInfo.accountType}}</p>
            <p>{{accountInfo.number}}</p>
        </div>
    </li>
    <li class="horizontal-list-item">
        <div class="input-append">
            <input id="faNumber" type="text" value="101" class="equity-ticket-field fa-input-field">
            <div class="btn-group">
                <button class="fa-input-dropdown btn dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>item1</li>
                    <li>item2</li>
                </ul>
            </div>
        </div>
    </li>
    <li class="horizontal-list-item">
        <div class="control-group">
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-search"></i></span>
                    <input class="span2" id="inputIcon" type="text">
                </div>
            </div>
        </div>
    </li>
    <li class="horizontal-list-item">
        <div class="btn-group">
            <button class="btn">Buy</button>
            <button class="btn">Sell</button>
            <button class="btn">Sell Short</button>
        </div>
    </li>
    <li class="horizontal-list-item">
        <div class="input-append">
            <input class="span2" id="shares" type="text">
            <div class="btn-group">
                <button class="btn dropdown-toggle" data-toggle="dropdown">
                    Shares
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>Item 1</li>
                    <li>Item 2</li>
                </ul>
            </div>
        </div>
    </li>
    <li class="horizontal-list-item">
        <div class="input-append">
            <input class="span2" id="type" type="text" value="207.00">
            <div class="btn-group">
                <button class="btn dropdown-toggle" data-toggle="dropdown">
                    Stop/Limit
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>Item 1</li>
                    <li>Item 2</li>
                </ul>
            </div>
        </div>
    </li>
    <li class="horizontal-list-item">
        <div class="btn-group">
            <button class="btn">Cash</button>
            <button class="btn">Margin</button>
        </div>
    </li>
    <li class="horizontal-list-item">
        <div class="input-append">
            <input class="span2" id="vspMethod" type="text" value="207.00">
            <div class="btn-group">
                <button class="btn dropdown-toggle" data-toggle="dropdown">
                    FIFO
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>LIFO</li>
                    <li>FIFO</li>
                </ul>
            </div>
        </div>
    </li>
    <li class="horizontal-list-item">
        <div class="btn-group">
            <button class="btn">Solicited</button>
            <button class="btn">Unsolicited</button>
        </div>
    </li>
    <li class="horizontal-list-item">
        <div class="input-append">
            <input class="span2" id="vspMethod" type="text" value="50%">
            <div class="btn-group">
                <button class="btn dropdown-toggle" data-toggle="dropdown">
                    Discount
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>Discount</li>
                </ul>
            </div>
        </div>
    </li>
</ul>