<div class="detail" ng-controller="view.tickets.equity.DetailController">
    <div class="expanded">
        <div class="controls">
            <div class="field">
                <label>Time In Force</label>
                <editable-combo-box items="timeInForceValues"></editable-combo-box>
            </div>
            <div class="field">
                <label>Discretion Enclosed</label>
                <button-group items="yesNoValues"></button-group>
            </div>
            <div class="field">
                <label>Order Received By</label>
                <search-input></search-input>
            </div>
            <div class="field">
                <label>Time Received</label>
                <button-group items="timeReceivedValues"></button-group>
            </div>
            <div class="field">
                <label>Date</label>
                <date-picker date="dateValue"></date-picker>
            </div>
            <div class="field">
                <label>Time</label>
                <div class="input">
                    <input class="span2" id="inputIcon" type="text">
                </div>
            </div>
            <div class="field">
                <label>Hold</label>
                <button-group items="yesNoValues"></button-group>
            </div>
            <div class="clearfix">&nbsp;</div>
        </div>
        <div class="projected-order-totals">
            <h4>Projected Order Totals</h4>
            <label-sub-label label="Principal" sub-label="$8,689.38"></label-sub-label>
            <label-sub-label label="Commission" sub-label="-$100"></label-sub-label>
            <label-sub-label label="Fees" sub-label="-$20"></label-sub-label>
            <label-sub-label label="Net" sub-label="$8,569.38"></label-sub-label>
        </div>
    </div>
</div>