<div class="detail">
    <div class="expanded">
        <div class="controls">

        </div>
        <div class="projected-order-totals">
            <h4>Projected Order Totals</h4>
            <label-sub-label label="Principal" sub-label="$8,689.38"></label-sub-label>
            <label-sub-label label="Commission" sub-label="-$100"></label-sub-label>
            <label-sub-label label="Fees" sub-label="-$20"></label-sub-label>
            <label-sub-label label="Net" sub-label="$8,569.38"></label-sub-label>
        </div>
    </div>
</div>