<div class="worklists" ng-controller="view.worklists.WorklistController">
    <div class="header">
        <h3>Worklists</h3>

        <ng-include src="'application/view/worklists/tabs/tabs-template.html'"></ng-include>

        <div class="control">
            <label>{{ worklist.name }}</label>
        </div>
    </div>
    <div class="content">
        <div class="row">
            <label>Name <b id="worklists-account-info-name">{{ worklist.accountInfo.name }}</b></label>
            <label>Acct. Type <b id="worklists-account-info-account-type">{{ worklist.accountInfo.accountType }}</b></label>
            <label>Acct. Number <b id="worklists-account-info-account-number">{{ worklist.accountInfo.number }}</b></label>

            <ng-include src="'application/view/tickets/equity/equity-ticket-ptl.html'"></ng-include>
        </div>
        <div class="row">
            <div class="pull-right">
                <button class="btn" style="margin-right: 40px;" ng-click="onSaveWorklist()">Save & Submit Later</button>
            </div>
        </div>
    </div>
</div>