<div class="validation-ptl" ng-controller="view.validation.ValidationController">
    <h3>Validation Flows</h3>

    <div class="components">
        <div class="row">
            <h4>Angular Client Side Validation</h4>
            <form novalidate name="angular-client-side">
                <div class="item">
                    <label>Email</label>
                    <input type="email" ng-model="emailValue" />
                </div>
                <div class="item">
                    <label>Url</label>
                    <advanced-text-input data-model="urlValue" input-type="email" validation="integer, text, moe-remote"></advanced-text-input>
                </div>
                <div class="item">
                    <label>Email</label>
                </div>
            </form>
        </div>
        <div class="row">
            <h4>Custom Client Side Validation</h4>
        </div>
        <div class="row">
            <h4>Server Side Validation</h4>
        </div>
        <div class="row">
            <h4>Client & Server Side Validation</h4>
        </div>
        <div class="row">
            <h4>Validation Error Display Options</h4>
        </div>
    </div>
</div>